#message-form input, 
#message-form select, 
#message-form textarea, 
#message-form label {
    font-size:15px;
    margin-bottom:2px;
}
 
#message-form input, 
#message-form select, 
#message-form textarea {
    width:450px;
    border: 1px solid #CEE1E8;
    margin-bottom:20px;
    padding:4px;
}
 
#message-form input:focus, 
#message-form select:focus,
#message-form textarea:focus {
    border: 1px solid #AFCDD8;
    background-color: #EBF2F4;
}
 
#message-form textarea {
    height:150px;
    resize: none;
}
 
#message-form label {
    display:block;
}
 
#message-form .required {
    font-weight:bold;
    color:#F00;    
}
 
#message-form #submit-button {
    width: 100px;
    background-color:#333;
    color:#FFF;
    border:none;
    display:block;
    float:right;
    margin-bottom:0px;
    margin-right:6px;
    background-color:#8FB5C1;
    -moz-border-radius:8px;
}
 
#message-form #submit-button:hover {
    background-color: #A6CFDD;
}
 
#message-form #submit-button:active {
    position:relative;
    top:1px;
}
 
#message-form #loading {
    width:32px;
    height:32px;
    background-image:url(../img/loading.gif);
    display:block;
    position:absolute;
    right:130px;
    bottom:16px;
    display:none;
}